<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Off Canvas Menu</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <nav class="nav">
    <ul class="menu">
      <li class="menu__item">Home</li>
      <li class="menu__item">About</li>
      <li class="menu__item">Project</li>
      <li class="menu__item">Contact</li>
    </ul>
    <div class="hamburger">
      <span class="first-bar"></span>
      <span class="second-bar"></span>
      <span class="third-bar"></span>
    </div>
  </nav>
  <main class="content">
    <div class="container">
      <h1 class="content__heading">Lorem, ipsum dolor.</h1>
      <p class="content__details">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit quidem ducimus maxime aperiam consequatur magni similique,
        cum officiis dicta sint hic amet necessitatibus reprehenderit labore ipsam. Est dolorem aliquam ipsa? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae unde facilis quod cumque! Autem, officiis dolore rem at voluptatibus enim ea nobis labore soluta! Consectetur veritatis molestias ut libero rem?</p>
      <img class="content__image" src="https://source.unsplash.com/user/erondu/1600x900" alt="">
    </div>
  </main>
  <script src="app.js"></script>
</body>

</html>