<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button class="trigger">Join</button>

    <div class="modal">
        <div class="modal__content">
            <div class="modal__header">
                <h1 class="modal__title">Future</h1>
                <button type="button" class="close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal__body">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p>
                    Lorem ipsum dolor sit amet.
                </p>
                <form class="form" action="/">
                    <label for="email">
                        <input class="form__email" type="email" placeholder="Your Email">
                    </label>
                    <label for="submit">
                        <input class="form__submit" type="submit">
                    </label>
                </form>
            </div>
        </div>
    </div>
    
    <script src="./script.js"></script>
</body>
</html>